.first-container{
    display: flex;
    background-color: #ebebeb;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-content: center;
    padding:6rem 10% 6rem;
    text-align: right;
}
.form-container h1{
    align-self: center;
}
.photo{
    display: flex;
    width: 50%;

}
select{
    height: 2rem;
    width: 100%;
    background-color: #d7d7d7;
    margin-bottom: 1rem;
    border-radius:8px;
    border: 0;
    padding-left: 10px;
}

.fullname{
    height: 1.9rem;
    width: 97%;
    background-color: #d7d7d7;
    margin-bottom: 1rem;
    border-radius:8px;
    border: 0;
    padding-left: 15px;
    color: black;
}
.whats{
    height: 2rem;
    width: 45%;
    background-color: #d7d7d7;
    border-radius:8px;
    border: 0;
    padding-left: 15px;
    margin-right: 15px;
    
}
.ejemplo{
    color: black;

}

::placeholder { 
    color: black;
    opacity: 1; 
  }
.mail{
    height: 2rem;
    width: 45%;
    background-color: #d7d7d7;
    border-radius:8px;
    border: 0;
    padding-left: 15px;
}

.envio{
    margin-top: 1rem;
    size: 100%;
    border: 3px solid black;
    background-color: #ebebeb;
    padding: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius:8px;

}
.ejemplo{
    font-family: 'Optima';
}