.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    padding-left: 15%;
    
    background-image: url("../../images/renders/franca.jpg");
    background-size: cover;

    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    font-family: 'Trade';
}

.hero-title {
    color: white;
    font-size: 56px;
    margin-bottom: 3rem;
    letter-spacing: 5px;
}

.btn {
    font-size: 14px;
    padding: 1rem 1.5rem;
    border-radius: 15px;
}

.btn-light {
    box-sizing: border-box;
    border: 1px solid white;
    margin-right: 1rem;
}

.btn-light:hover {
    border:1px solid black;
    background-color: black;    
}

.btn-dark{
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 100%);
}

.btn-dark:hover {
    background: linear-gradient(90deg, rgb(85, 85, 85) 0%, rgb(32, 32, 32)100%);

}