.life-container {
    display: flex;
    background-color: black;
    height: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem 5% 3rem;
    justify-content: center;
    background-color: black;
    color: white;
    width: 40%;
    line-height: 1.5;
}

.info-container h1{
    font-size: 24px;
    margin-bottom: 3rem;
}

.img-carousel {
    width: 50%;
}

.img-carousel img{
    width: 100%;
    height: 100%;
}

.benefits {
    display: flex;
    align-self: flex-start;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.benefits ul{
    list-style: none;
}

.benefits li{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.benefits li img{
    height: 48px;
    width: 48px;
    margin-right: 0.5rem;
}

.benefits h4{
    margin-bottom: 2rem;
}

.left-side {
    margin-right: 20%;
}
/* .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 750px;
  } */


.swiper-container {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
width: 100% !important;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

@media (max-width: 1150px) {
    .info-container {
        justify-content: center;
        text-align: center;
        padding:5rem 5% 5rem;
    }

    .benefits {
        align-self: center;
    }
}
  