.first-container{
    display: flex;
    background-color: black;
    /* max-height: 750px; */
    height: 100%;
}

.second-container{
    display: flex;
    background-color:#c0c0c0;
    /* max-height: 750px; */
}

.text-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem 10% 3rem;

    background-color: black;
    color: white;
    width: 30%;
    /* height: 100%; */
    line-height: 1.5;

}

.text-container-alt{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem 10% 3rem ;
    
    background-color: #c0c0c0;
    color: black;
    width: 30%;
    line-height: 1.5;
}
.text-container ul{
    padding-left: 1rem;
}
.text-container-alt ul{
    padding-left: 1rem;
}
.text-container-alt ul li{
    margin-bottom: 1rem;
}


@media (max-width: 1024px) {
    .text-container {
        min-height: 450px;
    }
    .text-container-alt {
        min-height: 450px;
    }

    .second-container {
        flex-direction: column-reverse;
    }
}