.header-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;

    font-family: 'Trade';
}

.logo-container {
    display: flex;
    justify-content: center;
    max-width: 200px;
}

.logo-container img{
    width: 70%;
    height: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.nav-element {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 3rem;
}

.nav-element:hover, .active {
    border-bottom: 2px solid white;
}

.socials-container {
    display: flex;
    align-items: center;
}

.socials-container p{
    margin-top: -1%;
}

.WA-icon {
    margin-right: .5rem;
}

.vertical-break {
    border-left: 1px solid white;
    height: 20px;
    margin-left: 1rem;
}

.socials-container a img{
    margin-left: 1.5rem;
}