* {
  padding: 0;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}


@font-face {
  font-family: Optima;
  font-style:normal;
  font-weight: 400;
  src: url('../fonts/Optima-Regular.ttf');
}


@font-face {
  font-family: Trade;
  font-style:normal;
  font-weight: 200;
  src: url('../fonts/TradeGothicLTStd-Extended.otf');
}

body {
  font-family: 'Optima';
  background-color: white;
}
input{
  font-family:'Optima' ;
}
select .ejemplo{
  font-family: 'Optima';
}

h1,h2,h3,h4,h5 {
  font-family: 'Trade';
}

p{
  font-family: 'Optima';
}

a {
  text-decoration: none;
  color: white;
}
