* {
  padding: 0;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}


@font-face {
  font-family: Optima;
  font-style:normal;
  font-weight: 400;
  src: url('../fonts/Optima-Regular.ttf');
}


@font-face {
  font-family: Trade;
  font-style:normal;
  font-weight: 200;
  src: url('../fonts/TradeGothicLTStd-Extended.otf');
}

body {
  font-family: 'Optima';
  background-color: white;
  width: 100%;
}
input{
  font-family:'Optima' ;
}
select .ejemplo{
  font-family: 'Optima';
}

h1,h2,h3,h4,h5 {
  font-family: 'Trade';
}

p{
  font-family: 'Optima';
}

a {
  text-decoration: none;
  color: white;
}


.d-none {
  display: none;
}






@media (min-width: 1024px) {
  .d-md-block {
    display: block;
  }

  .d-md-none {
    display: none;
  }
}

@media (max-width:1024px) {

  

  .responsive-layout {
    flex-direction: column;
    align-items: center;
    max-height: 100% !important;
  }

  .w-sm-100 {
    width: auto !important;
  }

  .img-carousel {
    width: 100% !important;
  }
}


@media (max-width: 767.98px) {
  html {
    font-size: 18px;
  }
  
}

._1bpcM {
  position: fixed !important;
  z-index: 100 !important;
  height: 56px !important;
  width: 56px !important;
}

._2iWL7, ._1fOYS {
  position: fixed !important;
  z-index: 100 !important;
}