.map-room li{
    display: flex;
    list-style-type:none;
    padding: 0;
}
.map-room li img{
    height: 23%;
    width:23%;
}
.map-room h1{
    margin: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 20%;
}
.map-room{
    display: flex;
    height: 650px;
    padding: 50px;
    background-color: #ffffff;
}
.caract-c{
    padding: 50px 80px 100px;
}
.caract-room{
    display: flex;
    height: 650px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.caract-room ul li p{
    margin: 50px;
}
.schema-room{
    display: flex;
    height: 650px;
    background-color: #ffffff;
    flex-direction: column;
}
.map-icons p{
    margin-left: 2rem;
    margin-top: 1rem;

}
.map-icons img{
    margin-top: 5%;
}
.color-room{
    display: flex;
    height: 650px;
    flex-direction: column;
    padding-left: 5%;
    
    
}
.color-change p{
    margin: 0;
}
.color-change{
    display: flex;
    background-color: aqua;
    border: black 20px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: black;
    border: solid black;
    cursor: pointer;
    
}
#blackB{
background-color: black;
}
#whiteB{
background-color: #ffffff;
}
#greyB{
background-color: #B5B5B5;
}
#duplexB {
    background-color: #464646;
}

.botones{
    display: flex;
    width: 210px;
    height: 50px;
    margin-bottom: 2rem;
}


.room-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0 6rem;
}

.left-side-room {
    padding-right: 2rem;
}

.color-btns-container {
    display: flex;
    padding-bottom: 3rem;
}

.info-room-container ul{
    list-style: none;
    text-decoration: none;
}

.info-room-container ul li {
    display: flex;
    align-items: center;
}

.right-side-room img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
}

.right-side-room h2 {
    text-align: center;
    margin-top: 2rem;
}

 @media (max-width: 1024px) {
     .left-side-room {
         padding-right: 0;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 }