.scan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 3rem;
    background-color: white;
    color: black;
}

.scan-container h1 {
    text-align: center;
}

.qr-container img{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}

